$primary-blue: #006CB0;
$neutral-100: #333333;
$neutral-700: #CCCCCC;
$neutral-800: #E6E6E6;
$neutral-900: #E9E9E9;
$neutral-950: #F3F3F3;
$neutral-1000: #FFFFFF;

$bold: 700;
$extra-bold: 800;

$font-size-medium: 15px;
$line-height-medium: 1.5;

$font-size-heading-1: 33.3px;
$line-height-heading-1: 1.2;

$font-size-heading-3: 19.8px;
$line-height-heading-3: 1.2;
$font-size-heading-4: 17.1px;
$line-height-heading-4: 1.2;

$font-size-heading-5: 15.3px;
$line-height-heading-5: 1.2;
