@import 'reset-css/reset';
@import 'normalize.css';
@import 'variables';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $neutral-900;
  font-size: $font-size-small;
  line-height: $line-height-small;
  font-family: 'Open Sans', sans-serif;

  @media screen and (min-width: 768px) {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
  }

  h2 {
    color: $neutral-100;
    font-size: $font-size-heading-3;
    line-height: $font-size-heading-3;
  }

  .hide {
    display: none;
  }
}
.author{
  .wrap {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: $neutral-1000;

    .author-page {
      padding: 40px;
      box-shadow: 1px 0 0 0 $neutral-800;

      @media screen and (min-width: 768px) {
        flex-basis: 67%;
      }

      .author-card {
        margin-bottom: 20px;
        flex-direction: column;

        @media screen and (min-width: 768px) {
          flex-direction: row;
        }
      }

      .author-bio {
        margin-bottom: 40px;
      }
    }

    .sidebar {
      padding: 42px 40px 40px;

      @media screen and (min-width: 768px) {
        flex-basis: 33%;
      }
    }
  }

  .container{
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
}

.author-card {
  display: flex;
  gap: 20px;

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: $neutral-100;
    font-size: $font-size-heading-1;
    line-height: $line-height-heading-1;
    font-weight: $extra-bold;
    margin-bottom: 10px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__position {
    font-size: $font-size-heading-5;
    line-height: $line-height-heading-5;
    color: $neutral-100;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  .socials {
    margin-top: auto;
  }
}

.socials {
  display: flex;
  align-items: end;
  gap: 5px;

  &__link {
    display: block;
    line-height: 0;
    font-size: 10px;
  }
}

.author-bio {
  padding: 20px 0 0 0;

  &__title {
    font-weight: $bold;
    margin-bottom: 20px;
  }

  &__content {
    display: inline;
  }

  &__expand-btn{
    text-decoration: none;
    color: $primary-blue;
  }


  &--border-top {
    border-top: 1px solid $neutral-700;
  }
}

.author-posts{
  &__title {
    font-weight: $bold;
    margin-bottom: 20px;
  }

  .author-post {
    margin-bottom: 15px;
  }
}

.author-post {
  display: flex;
  gap: 20px;

  &__img{
    object-fit: contain;
  }

  &__link {
    text-decoration: none;
  }

  &__title {
    font-size: $font-size-heading-4;
    line-height: $line-height-heading-4;
    font-weight: $bold;
    color: $primary-blue;
    margin-bottom: 10px;
  }

  &--underlined {
    padding-bottom: 15px;
    border-bottom: 1px solid $neutral-950;
  }
}

.latest-news {
  &__title {
    font-weight: $bold;
    font-size: $font-size-heading-3;
    line-height: $line-height-heading-3;
  }

  &__link {
    color: $primary-blue;
    font-size: $font-size-small;
    line-height: $line-height-small;
    text-align: center;
    display: block;
  }

  &__items .author-news:last-child {
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 40px;
  }
}

.author-news{
  display: flex;
  gap: 10px;
  align-items: flex-start;
  padding: 15px 0 11px;



  &__title {
    font-size: $font-size-heading-6;
    line-height: $line-height-heading-6;
    font-weight: $semi-bold;

    @media screen and (min-width: 768px) {
      font-size: $font-size-heading-5;
      line-height: $line-height-heading-5;
    }
  }
}
